[submodule "librtfcomp"]
	path = librtfcomp
	url = https://github.com/GustaVito71/librtfcomp.git
[submodule "synce-core"]
	path = synce-core
	url = https://github.com/GustaVito71/synce-core.git
[submodule "librra"]
	path = librra
	url = https://github.com/GustaVito71/librra.git
[submodule "libmimedir"]
	path = libmimedir
	url = https://github.com/GustaVito71/libmimedir.git
[submodule "synce-sync-engine"]
	path = synce-sync-engine
	url = https://github.com/GustaVito71/synce-sync-engine.git
